[submodule "third_party/utest.h"]
	path = third_party/utest.h
	url = https://github.com/sheredom/utest.h
[submodule "third_party/ubench.h"]
	path = third_party/ubench.h
	url = https://github.com/sheredom/ubench.h
